<% var categories %>
<section class="d-flex w-100 align-items-center justify-content-center">
  <div class="container">
    <div class="row justify-content-center my-5 py-5">
      <% for(category of categories) { %>
      <div class="col-lg-3 col-md-6 col-12">
        <a href="/shop/<%= category.category_name%>">
          <div class="card text-align-center">
            <img
              src="<%= category.photo ? `/img/admin/category/${category.category_name}.jpg` : 'https://via.placeholder.com/350' %>"
              alt=""
              class="card-img-top"
            />
            <h3 class="card-title text-align-center p-3">
              <%= category.category_name%>
            </h3>
          </div></a
        >
      </div>
      <% } %>
    </div>
  </div>
</section>
