    <!-- Start Footer Area -->
    <div class="footer-area pt-100 pb-70">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-sm-6">
                  <div class="single-footer-widget">
                      <div class="logo">
                          <h2>
                              <a href="/">eBozor</a>
                          </h2>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <ul class="social">
                          <li>
                              <a href="#" class="facebook" target="_blank">
                                  <i class='bx bxl-facebook'></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="twitter" target="_blank">
                                  <i class='bx bxl-twitter'></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="pinterest" target="_blank">
                                  <i class='bx bxl-pinterest-alt'></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="linkedin" target="_blank">
                                  <i class='bx bxl-linkedin'></i>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>

              <div class="col-lg-3 col-sm-6">
                  <div class="single-footer-widget">
                      <h3>Instagram</h3>

                      <ul class="instagram-list">
                          <li>
                              <div class="box">
                                  <img src="https://picsum.photos/150" alt="image">
                                  <i class="bx bxl-instagram"></i>
                                  <a href="#" target="_blank" class="link-btn"></a>
                              </div>
                          </li>

                          <li>
                              <div class="box">
                                  <img src="https://picsum.photos/150" alt="image">
                                  <i class="bx bxl-instagram"></i>
                                  <a href="#" target="_blank" class="link-btn"></a>
                              </div>
                          </li>

                          <li>
                              <div class="box">
                                  <img src="https://picsum.photos/150" alt="image">
                                  <i class="bx bxl-instagram"></i>
                                  <a href="#" target="_blank" class="link-btn"></a>
                              </div>
                          </li>

                          <li>
                              <div class="box">
                                  <img src="https://picsum.photos/150" alt="image">
                                  <i class="bx bxl-instagram"></i>
                                  <a href="#" target="_blank" class="link-btn"></a>
                              </div>
                          </li>

                          <li>
                              <div class="box">
                                  <img src="https://picsum.photos/150" alt="image">
                                  <i class="bx bxl-instagram"></i>
                                  <a href="#" target="_blank" class="link-btn"></a>
                              </div>
                          </li>

                          <li>
                              <div class="box">
                                  <img src="https://picsum.photos/150" alt="image">
                                  <i class="bx bxl-instagram"></i>
                                  <a href="#" target="_blank" class="link-btn"></a>
                              </div>
                          </li>

                          <li>
                              <div class="box">
                                  <img src="https://picsum.photos/150" alt="image">
                                  <i class="bx bxl-instagram"></i>
                                  <a href="#" target="_blank" class="link-btn"></a>
                              </div>
                          </li>

                          <li>
                              <div class="box">
                                  <img src="https://picsum.photos/150" alt="image">
                                  <i class="bx bxl-instagram"></i>
                                  <a href="#" target="_blank" class="link-btn"></a>
                              </div>
                          </li>

                          <li>
                              <div class="box">
                                  <img src="https://picsum.photos/150" alt="image">
                                  <i class="bx bxl-instagram"></i>
                                  <a href="#" target="_blank" class="link-btn"></a>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>

              <div class="col-lg-3 col-sm-6">
                  <div class="single-footer-widget pl-5">
                      <h3>Quick Links</h3>
                      <ul class="quick-links">
                          <li>
                              <a href="/">Do'kon</a>
                          </li>
                          <li>
                              <a href="/cart">Savatcha</a>
                          </li>
                      </ul>
                  </div>
              </div>

              <div class="col-lg-3 col-sm-6">
                  <div class="single-footer-widget">
                      <h3>Bog'lanish uchun</h3>

                      <ul class="footer-contact-info">
                          <li>
                              <i class='bx bxs-phone'></i>
                              <span>Phone</span>
                              <a href="#">(+998) 99 821 17 44</a>
                          </li>
                          <li>
                              <i class='bx bx-envelope'></i>
                              <span>Email</span>
                              <a href="#">admin@e-shop.uz</a>
                          </li>
                          <li>
                              <i class='bx bx-map'></i>
                              <span>Manzil</span>
                              Olmazor tumani, Kichik halqa yo'li 72A uy
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Footer Area -->

  <!-- Start Copy Right Area -->
  <div class="copyright-area">
      <div class="container">
          <div class="copyright-area-content">
              <div class="row align-items-center">
                  <div class="col-lg-6 col-md-6">
                      <p>
                          <i class="far fa-copyright"></i> 
                          Copyright @2020 e-bozor. Hech qanday huquqlar himoyalanmagan
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Copy Right Area -->

    
    
    <!-- Jquery Slim JS -->
    <script src="/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Meanmenu JS -->
    <script src="/js/jquery.meanmenu.js"></script>
    <!-- Nice Select JS -->
    <script src="/js/jquery.nice-select.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup JS -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <!-- Odometer JS -->
    <script src="/js/odometer.min.js"></script>
    <!-- Jquery Appear JS -->
    <script src="/js/jquery.appear.min.js"></script>
    <!-- Ajaxchimp JS -->
<script src="/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator JS -->
<script src="/js/form-validator.min.js"></script>
<!-- Contact JS -->
    <script src="/js/contact-form-script.js"></script>
    <!-- Wow JS -->
    <script src="/js/wow.min.js"></script>
    <!-- Custom JS -->
    <script src="/js/main.js"></script>
    <!-- <script src="/js/bootstrap.min.js"></script>
    <script src="/js/contact-form-script.js"></script>
    <script src="/js/form-validator.min.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.appear.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.meanmenu.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/odometer.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/main.js"></script> -->
  </body>
</html>